body {
    margin: auto;
    margin: 0px;
    padding: 0px;
    text-align: center;
    margin-top: 100px;
    background-color: aquamarine;
}
#container {
    background-color: aquamarine;
    margin: auto;
    margin-top:50px;
    display: flex;
    justify-content:center;
    align-items: center;
    height:fit-content;
    width:fit-content;
    padding: 10px;
    font-size:50px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}

select {
    cursor: pointer;
}

option {
    cursor: pointer;
}

button {
    cursor: pointer;
}

h1 {
    color: darkorange;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
table {
    margin: auto;
    margin-top: 20px;
}
table tr td {
    border: 1px solid white;
    padding: 5px;
    height: 50px;
    width: 200px;
    font-size: 30px;
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}